/**
* @name Functionalities
* @author riukii
* @version 3.0
* @description Features I like to add (or remove).
*/

/* REMOVE USELESS BUTTONS */

/* Remove "NITRO" and "SHOP" buttons on top of FRIENDS LIST */
div._99e7cad8d4c55236-scroller.d125d22cdfd32cfe-thin.d125d22cdfd32cfe-scrollerBase.d125d22cdfd32cfe-fade li._972a0d22c8afa7f0-channel.e45859d60799ad7c-container:has([data-list-item-id$="___nitro"]),
div._99e7cad8d4c55236-scroller.d125d22cdfd32cfe-thin.d125d22cdfd32cfe-scrollerBase.d125d22cdfd32cfe-fade li._972a0d22c8afa7f0-channel.e45859d60799ad7c-container:has([data-list-item-id$="___shop"]),
/* Remove "SERVER BOOSTS" button on top of server channels */
ul.d125d22cdfd32cfe-content div.c69b6db0641110f6-containerDefault._2ea32c412048f708-wrapper._877f0e9008f12b8d-container,
/* Remove "CLAIM QUEST" on top of "voice connected" */
section.panels__5e434 div.wrapper__0d616.wrapperVisible__0d616,
/* Hides the top HELP button */
div.c38106a3f0c3ca76-trailing > a.edefb8e22d63c542-anchor.edefb8e22d63c542-anchorUnderlineOnHover,
/* Remove useless buttons beside CHATBOX */
div._740174f3d6a2c8fe-buttons._740174f3d6a2c8fe-reducedGap > div.c0c49a3e5c8626ac-container, /* "gift nitro" button */
div._740174f3d6a2c8fe-buttons._740174f3d6a2c8fe-reducedGap > div._740174f3d6a2c8fe-spacer,  /* vertical line between "gift nitro" and "add media" */
div._740174f3d6a2c8fe-buttons._740174f3d6a2c8fe-reducedGap > div._740174f3d6a2c8fe-button._24af7f4d0326ba4f-button:has([xmlns="http://www.w3.org/2000/svg"]), /* "add media" button */
/* Remove the "payment settings" section in settings */
ul._409aa1aeee28d5f7-section[aria-label="Payment Settings"]
 
 {
	display: none !important;
}


/* Is Yapping... */
.b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text {
  font-size: 0;
  height: 16px;
  >strong {
    font-size: 15px;
    &::after {
      color: white;
      font-weight: 500;
    }
    &:last-child::after {
      content: " is yapping...";
    }
    &:last-child:not(:first-child)::after {
      content: " are yapping...";
    }
    &:nth-last-child(2)::after {
      content: " and "
    }
    &:nth-last-child(3)::after {
      content: ", ";
    }
  }
  &:not(:has(>strong))::after {
    font-size: 15px;
    content: "Several people are yapping...";
  }

