/**
* @name Funzionalità
* @author riukii
* @version 1.0.4
* @description Cose utili che aggiungo
*/

/* REMOVE USELESS BUTTONS */

/* Remove "nitro" and "shop" buttons on top of friends list */
.channel__972a0.container_e45859:has([data-list-item-id$="___nitro"]),
.channel__972a0.container_e45859:has([data-list-item-id$="___shop"]),
/* Remove "claim quest" on top of "voice connected" */
.wrapper__0d616.wrapperVisible__0d616,
/* Hides the Top Help button */
.trailing_c38106 .button__85643.iconWrapper__9293f.clickable__9293f[aria-label="Help"],
.trailing_c38106 a.anchor_edefb8.anchorUnderlineOnHover_edefb8,
/* Remove useless buttons beside chatbox */
.button__74017.button__24af7:has(.lottieIcon__5eb9b.lottieIconColors__5eb9b),
.button__74017.button__24af7:has([xmlns="http://www.w3.org/2000/svg"]),
.spacer__74017,
/* Remove "Server Boosts" button on top of server channels */
.containerDefault_c69b6d.wrapper__2ea32.container__877f0
 {
	display: none !important;
}


/* Is Yapping... */
.typingDots_b88801 > .ellipsis_b88801+.text_b88801 {
  font-size: 0;
  height: 16px;
  >strong {
    font-size: 15px;
    &::after {
      color: white;
      font-weight: 500;
    }
    &:last-child::after {
      content: " is yapping...";
    }
    &:last-child:not(:first-child)::after {
      content: " are yapping...";
    }
    &:nth-last-child(2)::after {
      content: " and "
    }
    &:nth-last-child(3)::after {
      content: ", ";
    }
  }
  &:not(:has(>strong))::after {
    font-size: 15px;
    content: "Several people are yapping...";
  }

