/**
* @name Funzionalità
* @author riukii
* @version 1.0.4
* @description Cose utili che aggiungo
*/

/* Remove useless buttons */
.channel__972a0.container_e45859:has([data-list-item-id$="___nitro"]),
.channel__972a0.container_e45859:has([data-list-item-id$="___shop"]),
.containerDefault_c69b6d.wrapper__2ea32.container__877f0:has([data-list-item-id="channels___skill-trees-1271208155275071588"]),
.container_a62383.nitro-pink_a62383.popoverGradientWrapper_d6f39b,
.wrapper__0d616.wrapperVisible__0d616,
.container_c0c49a {
	display: none !important;
}

/* Hides the Top Help button */
.trailing_c38106 .button__85643.iconWrapper__9293f.clickable__9293f[aria-label="Help"],
.trailing_c38106 a.anchor_edefb8.anchorUnderlineOnHover_edefb8 {
    display: none !important;
}

/* Is Yapping... */
.typingDots_b88801 > .ellipsis_b88801+.text_b88801 {
  font-size: 0;
  height: 16px;
  >strong {
    font-size: 15px;
    &::after {
      color: white;
      font-weight: 500;
    }
    &:last-child::after {
      content: " is yapping...";
    }
    &:last-child:not(:first-child)::after {
      content: " are yapping...";
    }
    &:nth-last-child(2)::after {
      content: " and "
    }
    &:nth-last-child(3)::after {
      content: ", ";
    }
  }
  &:not(:has(>strong))::after {
    font-size: 15px;
    content: "Several people are yapping...";
  }

