/**
* @name Tweaks
* @author riukii
* @version 4.0.0
* @description Features I like to add (or remove).
*/

/* REMOVE USELESS BUTTONS */

/* Remove "NITRO" and "SHOP" buttons on top of FRIENDS LIST */
ul[class*="content"] li[class*="channel"][class*="container"]:has(a[data-list-item-id*="nitro"]),
ul[class*="content"] > li[class*="channel"][class*="container"]:has(a[data-list-item-id*="shop"]),
/* Remove "SERVER BOOSTS" button on top of server channels */
ul[class*="content"] div[class*="containerDefault"][class*="wrapper"][class*="container"]:has(path[d="M11.47 6.55a.75.75 0 0 1 1.06 0l2.2 2.14c.14.14.23.34.23.55v5.52c0 .21-.09.4-.23.55l-2.2 2.14a.75.75 0 0 1-1.06 0l-2.2-2.14a.77.77 0 0 1-.23-.55V9.24c0-.21.09-.41.23-.55l2.2-2.14Z"]),
/* Remove "CLAIM QUEST" on top of "voice connected" */
/* section._5e434347c823b592-panels > div._0d6162a4e6a4b802-mask, */
/* Hides the top HELP button */
div[class*="trailing"] > a[class*="anchor"][class*="anchorUnderlineOnHover"][href*="support.discord.com"],
/* Remove useless buttons beside CHATBOX */
div[class*="buttons"][class*="reducedGap"] div[class*="button"]:has(path[d^=" M-7,10 C-8.104"]), /* "gift nitro" button */
div[class*="buttons"][class*="reducedGap"] > div[class*="spacer"],  /* vertical line between "gift nitro" and "add media" */
div[class*="buttons"][class*="reducedGap"] > div[class*="button"]:has(path[d^="M2 5a3 3 0 0 1 3-3h14a3"]), /* "add media" button */
/* Remove the "PAYMENT SETTINGS" section in settings */
nav[class*="nav"] > ul[class*="section"]:has(>[class*="itemContainer"][data-settings-sidebar-item*="nitro"]):has(>[data-settings-sidebar-item*="subscriptions"]):has(>[data-settings-sidebar-item*="gift"]),
/* "SPOTIFY PLAYER" plugin's controls */
div#vc-spotify-player > div.vc-spotify-button-row, 
/* "STREAMING" section over "VOICE CONNECTED" */
section[class*="panels"] > div[class*="panel"][class*="activityPanel"]
 
 {
	display: none !important;
}


/* Is Yapping... */
div[class*="typingDots"] > svg[class*="ellipsis"]+span[class*="text"] {
  font-size: 0;
  height: 16px;
  >strong {
    font-size: 15px;
    &::after {
      color: white;
      font-weight: 500;
    }
    &:last-child::after {
      content: " is yapping...";
    }
    &:last-child:not(:first-child)::after {
      content: " are yapping...";
    }
    &:nth-last-child(2)::after {
      content: " and "
    }
    &:nth-last-child(3)::after {
      content: ", ";
    }
  }
  &:not(:has(>strong))::after {
    font-size: 15px;
    content: "Several people are yapping...";
  }

